        * {
            box-sizing: border-box;
            font-family: sans-serif;
            margin: 0;
            padding: 0;
        }

        .container {
            padding: 0.5rem 1rem;
            background-color: lightgray;
            min-height: 100vh;
        }

        .Donor-Info {
            color: red;
            font-weight: bold;
            font-size: 1.5rem;
            margin-top: 1rem;
        }

        .textlabel {
            display: inline-block;
            width: 320px;
            text-align: right;
            font-weight: bold;
        }
        .bar{
            padding: .5rem 1.5rem;
            background-color: white;
        }